{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}
{% block body %}
    <div class="navbar navbar-expand-lg navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" > <!-- remaining -->
            </button>
            <a href="index.html" class="navbar-brand">
                <span>
                    <img src="/static/Logo_font_island_movements.png" style="width: 50px; height:auto">
                </span>
                <span class="fs-2" style="margin-left: -13px; color: #00ff60;">
                    aisa <!-- in large -->
                </span>
            </a>
            <div class="navbar-text fs-2" style="color: aliceblue;">{{title}}</div>
            <div>
                <!-- get first name and last name from the user when signup, put that in db, show the letters in that place
                    see stackoverflow on how to do that-->
            </div>
        </div>
    </div>
{% endblock %}  